/* Title Details Page Event */

.title-details-event {
    text-align: center;
    padding: 20px;
}

/*  Details  of Map (distance and duration) */

.route-info {
    background-color: #ddd2d0;
    margin-right: 242px;

}

/* Details Route */

.details-route {
    font-size: 35px;
}

.details-route-description {
    font-size: 14px;
}

/* Title Details Page Users Joined */

.details-route-joined {
    text-align: center;
    padding: 20px;
}

.route-info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerBlock {
    height: 450px;
}

.display-container {
    flex-wrap: wrap;
}

/* Join Button*/

.join-button {
    margin-top: 40px;
}

.button-join-andBack {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}