.NavBar {
background: rgb(251, 176, 119);
    background: radial-gradient(circle, rgba(251, 176, 119, 1) 10%, rgba(220, 130, 94, 1) 100%);
}

a {
    text-decoration: none;
}

/* navbar dropdown img */

.img-profile-nav {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

/* Logo */

.iconPic {
    width: 3%;
}

.title {
    color: rgb(219, 211, 211)
}

#nav-dropdown {
    color: rgb(219, 211, 211);
}

.nav-dropdown {
    color: rgb(219, 211, 211);
}

div.dropdown-menu.show {
    background: rgb(251, 176, 119);
        background: radial-gradient(circle, rgba(251, 176, 119, 1) 10%, rgba(220, 130, 94, 1) 100%);
}