#container-signup {
    background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    text-align: center;
    border-radius: 5px;
    margin: 3em auto;
    background: rgba(255, 255, 255, 0.95);
    height: 300px;
    width: 480px;
    padding: 1em;
    padding-bottom: 610px;
    margin-top: 102px;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;


}

@media screen and (max-width: 800px) {
    #container-signup {
        width: 90%;
        margin-right: 5%;

    }

}

#container-signup h2 {
    background: url('./../../../public/images/body.jpg');

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
    font-family: 'Playfair Display', serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 2px;
    font-size: 3.5em;
    margin: 0;



}

#container-signup p {
    font-family: 'Farsan', cursive;
    margin: 3px 0 1.5em 0;
    font-size: 1.3em;
    color: #7d7d7d;
}


::placeholder {
    color: #999;
}



#container-signup button {
    background-image: linear-gradient(to left, rgba(248, 172, 117, 1) 0%,
            rgba(253, 164, 91, 0.86) 100%);
    box-shadow: 0 9px 25px -5px #fbd191;
    font-family: 'Abel', sans-serif;
    padding: 0.5em 1.9em;
    margin: 2.3em 0 0 0;
    border-radius: 7px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
    transition: 0.3s linear;

}

#container-signup button:hover {
    transform: translatey(2px);
}

#container-signup button:active {
    transform: translatey(5px);
}


/*  Sign up form   */

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}