.home-page {
    background-image: url('./../../../public/images/imagen-index.jpg');
    background-size: cover;
    height: 688px;
}

.home-page h1 {
    padding-top: 150px;
    padding-left: 50px;
}

.home-page p {
    padding-left: 50px;
}



:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --red: #e74c3c;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}



.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    position: relative;
    display: block;
    padding: 10px;
}

.menu a svg {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.menu a svg path {
    fill: transparent;
    stroke-width: 2px;
    stroke: currentColor;
    stroke-dasharray: 89.7506103515625;
    stroke-dashoffset: -89.7506103515625;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.29, 0.68, 0.74, 1.02);
}

.menu a:hover svg path {
    stroke-dashoffset: 0;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
}

.page-footer span {
    color: var(--red);
}

footer {
    background-color: #000000;
    height: 70px;
}