.home-page {
    background-image: url('./../../../public/images/imagen-index.jpg'), url('./../../../public/images/bike-park-krvavec.jpeg');
    background-size: cover;
    height: 688px;
    
}

.home-page h1 {
    padding-top: 150px;
    padding-left: 50px;
}

.home-page p {
    padding-left: 50px;
}
.home-page2{
    background-image:  url('./../../../public/images/bike-park-krvavec.jpeg');
    background-size: cover;
    height: 688px;
}
.home-page3 {
    background-image: url('./../../../public/images/bike-park-pohorje.jpeg');
    background-size: cover;
    height: 688px;
}
.home-page4 {
    background-image: url('./../../../public/images/photo-1511994298241-608e28f14fde.avif');
    background-size: cover;
    height: 688px;
}

:root {
    --body-bg-color: #2c3439;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
    --red: #e74c3c;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}



hr {
    border-color: var(--hr-color);
    margin: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    position: relative;
    display: block;
    padding: 10px;
}

.menu .border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
}

.menu .border-top,
.menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
    top: 0;
}

.menu .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.menu .border-top {
    transform-origin: top left;
}

.menu .border-left {
    transform-origin: bottom left;
}

.menu .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
    transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
    transform: scaleY(1);
}

.menu a:hover .border-right {
    transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
}

.menu a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
}


/* ANIMATIONS FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu[data-animation="diagonal"] .border-left {
    transform-origin: top left;
}

.menu[data-animation="diagonal"] .border-right,
.menu[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
}

.menu[data-animation="diagonal"] a:hover [class^=border] {
    transition-delay: 0s;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
}

.page-footer span {
    color: var(--red);
}

footer {
    background-color: #000000;
    height: 50px;

}
.copy-right{
    color: white;
}